* {
    margin: 0;
    padding: 0;
    border: 0;
}
main {
    color: white;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section {
    color: white;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
}

.square {
    width: 250px;
    height: 200px;
    padding: 25px;
}
.first:hover {
    background-color: #ccc;
    transition: background-color .5s;
}
.second:hover {
    background-color: #ccc;
    transition: background-color .5s;
}
.third:hover {
    background-color: #ccc;
    transition: background-color .5s;
}
.fourth:hover {
    background-color: #ccc;
    transition: background-color .5s;
}
.fifth:hover {
    background-color: #ccc;
    transition: background-color .5s;    
}
.sixth:hover {
    background-color: #ccc;
    transition: background-color .5s;
}
.first {
    background-color: #f1c40f; 
    display: inline-block;
}
.second {
    background-color: #e67e22;
    display: inline-block;
}
.third {
    background-color: #e74c3c;
    display: inline-block;
}
.fourth {
    background-color: #27ae60;
    display: inline-block;
}
.fifth {
    background-color: #3498db;
    display: inline-block;
}
.sixth {
    background-color: #8e44ad;
    display: inline-block;
}
.info-1 {
    text-align: center;
    font-size: 10pt;
}
.image-1 {
    width: 35%;    
}

.second:hover .img-text .image-1 {
    width: 40%;
    transition: width .5s;
}
.third:hover .img-text .image-1 {
    width: 40%;
    transition: width .5s;
}
.fourth:hover .img-text .image-1 {
    width: 40%;
    transition: width .5s;
}
.fifth:hover .img-text .image-1 {
    width: 40%;
    transition: width .5s;
}
.sixth:hover .img-text .image-1 {
    width: 40%;
    transition: width .5s;
}
.line-2 {
    text-decoration-line: overline;
    font-size: 7pt;
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.bottom-text {
    text-align: left;
    width: 100%;
}

hr {
    height: 0.5px;
    width: 100%;
    background-color: white;
}
span {
    display: block;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 2.5px;
}
.span-hr {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;;
}
.small-text {
    font-size: 10px;
}
.logo-text {
    color: black;
}
.logo{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
p {
    font-size: 16px;
}
